<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".Controllers.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        android:name=".Controllers.RegisterActivity"
        android:exported="true">
    </activity>
        <activity
            android:name=".Controllers.RVActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".Controllers.PRVActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".Controllers.RVActivityP"
            android:exported="true">
        </activity>
        <activity
            android:name=".Controllers.ViewAllpdfFiles"
            android:exported="true">
        </activity>
        <activity
            android:name=".Controllers.Activity_CRU_P"
            android:exported="true">
        </activity>

        <activity
            android:name=".Controllers.Activity_CRU"
            android:exported="true">

        </activity>
        <activity
            android:name=".Controllers.MainActivity_auth"
            android:exported="true">

        </activity>
        <activity
            android:name=".Controllers.EmploiRowActivity"
            android:exported="true">
        </activity>
        <activity
        android:name=".Controllers.EmploiActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Controllers.WeekActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Controllers.GestionEmploi"
            android:exported="true">

        </activity>
        <activity
            android:name=".Controllers.InboxActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Controllers.Activity_Message"
            android:exported="true">

        </activity>
    </application>

</manifest>